/* normalize.css has been included before this file */
template { display: none; }


/* The following are general styles applied to all devices. */
body {
	font-family: 'Source Code Pro', Arial, Helvetica, serif; font-weight: 400; 
	background: rgb(2, 29, 56) url(../ghwall.png);
	background-position: center 20%;
	background-repeat: repeat-y;
	text-align: center;
	padding: 15px;
}

h1 {
	letter-spacing: 0.125em;
	font-weight: 600;
	color: #ccc
}

nav {
	position: relative;
}

input {
	font-size: 1.125em;
	font-weight: 600;
}

ul li {
	list-style-type: none;
	line-height: 1.75em;
	margin-left: -40px;
	cursor: pointer;
	color: #fff;
}

ul li:hover {
	border: 1px solid #25f;
	border-radius: 9px;
	font-size: 1.125em;
	line-height: 2em;
}

ul li.repo span {
	padding: 7px;
}

.repo .owner {
	opacity: 0.8;
}

.repo .owner {
}

.repo .name {
}

.repo .url {

}

.repo .pushed {

}

.repo .description {

}

.repo .followers {

}

.repo .language {
}

#search-submit { 
}

#results-container {
	background-color: rgba(2, 29, 56, 0.8);
	margin: 15px auto;
	display: none;
}

#overlay-container {
	text-align: justify;
	min-height: 100px;
	position: fixed;
	display: none;
	left: 50%;
	top: 33px;
}

#overlay-container > .repo {
	background-color: rgba(0, 0, 0, 0.9);
	position: relative;
	color: white;
	width: 100%;
	left: -50%;
}

#overlay-container a {
	color: white !important;
	font-weight: bold;
}

.rwd-base {
	border: 3px inset rgb(2, 29, 56);
	border-radius: 15px;
	text-align: center;
	outline: none;
	padding: 7px;
	width: 67%;
}



/* The following media queries are taken from CSS-Tricks... 
	not due to laziness, rather from the standpoint they do
	a great job of keeping up with the latest CSS standards. */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}